{# templates/dashboard/set_pin.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Définir un code PIN{% endblock %}

{% block body %}
    <div class="container mt-5">

    </div>

    <style>
        body {
            background: linear-gradient(to right, #ffdee9, #b5fffc);
        }
        .text-muted {
            color: #666;
        }
        .small {
            font-size: 0.9rem;
            line-height: 1.4;
        }

    </style>
{% endblock %}
